.header-custom{
    background-color: black;
    height: 36px;
    padding: 8px, 32px,8px, 16px;
    color: white;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    align-content: flex-start;
}