.header-custom{
    background-color: black;
    height: 36px;
    padding: 8px, 32px,8px, 16px;
    color: white;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    align-content: flex-start;
}
.image-rotate {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotateY(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotatey(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotateY(360deg); 
        transform:rotateY(360deg); 
    } 
}